@import 'colours';

$bgColour: #2b2b2b;
$txtColour: #ffffff;

*{
	margin:0;
	padding:0;
}
@font-face {
	font-family:Lato;
	src:url(../media/Lato-Light.ttf);
}
body {
	background: $bgColour;
	color: $txtColour;
	font-family:Lato;
}
.container {
	padding:15px;
}
 ul {
 	list-style-type:none;
 	font-family:Arial;
 	font-size:32px;
 }
 li{
 display:inline-block;
 }
 h1{
 	font-size:32px;
 }
 /*.space {
 	color:hsla(202, 100%, 38%, 1);
 }
 .spaceTaken {
 	color:hsla(359,84%,61%,1);
 }*/
 header{
 	text-align:center;
 	border-bottom:solid 2px #ffffff;
 	padding-bottom:15px;
 }
.content{
	text-align:center;
	padding-top:15px;
	overflow-y:scroll;
	overflow-x:hidden;
}
 .displayNone{
 display:none;
 height:0;
 }
 h1 p {
 font-family:Arial;
 color:hsla(202, 100%, 38%, 1);
 display:inline;
 }

 select {
    border:5px solid #eaeaea;
	border-radius:0;
    background: transparent;
    width: 80%;
    padding: 3%;
    font-size: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	cursor:pointer;
	text-transform:none;
	color:transparent;
	text-shadow: 0 0 0 #ffffff;
	-webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}

select:focus, select:hover{
	border:5px solid #eaeaea;
	background: #eaeaea;
	color: transparent;
    text-shadow: 0 0 0 #424242;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #424242;
}
.subBtn {
	border:5px solid #eaeaea;
	border-radius:0;
    background: transparent;
    width: 80%;
    padding: 3%;
    font-size: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	cursor:pointer;
	color: #ffffff;
	text-align:left;
	-webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease;
}
.subBtn:hover, .subBtn:focus{
	background: #eaeaea;
	color: #424242;

}


@media screen and (min-width: 768px){
h1,h1 p,ul li p{
	font-size:48px;
}
h2{
	font-size:33px;
}
h3,.subBtn ,select{
	font-size:27px;
}
p{
	font-size:24px;
}
}

@media screen and (min-width: 992px){
h1,h1 p,ul li p{
	font-size:64px;
}
h2{
	font-size:44px;
}
h3,.subBtn ,select{
	font-size:36px;
}
p{
	font-size:32px;
}
}

@media screen and (min-width: 1200px){
h1,h1 p,ul li p{
	font-size:96px;
}
h2{
	font-size:66px;
}
h3,.subBtn ,select{
	font-size:54px;
}
p{
	font-size:48px;
}
}

@media screen and (min-width: 1400px){
h1,h1 p,ul li p{
	font-size:128px;
}
h2{
	font-size:88px;
}
h3,.subBtn ,select{
	font-size:72px;
}
p{
	font-size:64px;
}
}

@media screen and (min-width: 1600px){
h1,h1 p,ul li p{
	font-size:192px;
}
h2{
	font-size:132px;
}
h3,.subBtn ,select{
	font-size:108px;
}
p{
	font-size:96px;
}
}

