/*
Stylesheet by Kamal Teta @ kamalteta.com
*/

@font-face {
font-family:websleek;
src: url(../font/weblysleekuisl.ttf); }
@font-face {
font-family:websleekHeader;
src: url(../font/weblysleekuisb.ttf); }

*{
	margin:0;
	padding:0;
	font-family:websleek;
}
h1,h2,h3,h4,h5,h6,.pseudoH1{
	font-family:websleekHeader;
}
html,body{
	height:100%;
	width:100%;
	color:white;
	background: black;
}

header{
	height:15%;
	width:100%;
	background: -moz-linear-gradient(top, rgba(0,0,0,.65), rgba(0,0,0,.5));
	background: -webkit-linear-gradient(top, rgba(0,0,0,.65), rgba(0,0,0,.5));
	background: 0-linear-gradient(top, rgba(0,0,0,.65), rgba(0,0,0,.5));
	background: linear-gradient(top, rgba(0,0,0,.65), rgba(0,0,0,.5));
	position:fixed;
	top:0;
	z-index:10;
}

section{
	min-height:100%;
	width:calc(100% - 100px);
	padding:0 50px 0 50px;
	position: relative;
}

.aboveTheFold{
	height:100%;
}

.bgParallax{
	height: 100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 0;
	overflow: hidden;
}
.greyTop{
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	background:rgba(0,0,0,.25);
}
.rslides2{
	height: 100%;
	width:100%;
}
.rslides2 li {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.rslides2a{
	background-image: url(../media/lowRes.jpg);
	background-position: center bottom;
}
.rslides2b{
	background-image: url(../media/j1.jpg);
}
.rslides2c{
	background-image: url(../media/vejle2.jpg);
}
.rslides2d{
	background-image: url(../media/j3.jpg);
	background-position: center top;
}

footer{
	height:5%;
	width:calc(100% - 50px);
	background:rgba(0,0,0,.5);
	padding: 0 0 0 50px;
	position:fixed;
	bottom:0;
	z-index:10;
}

footer h5{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	text-shadow:1px 1px 5px rgba(0,0,0,.15),-1px 1px 5px rgba(0,0,0,.15),1px -1px 5px rgba(0,0,0,.15),-1px -1px 5px rgba(0,0,0,.15);
}

footer h5 span:hover{
	cursor: pointer;
	color:#CA6666;
}
.highlighted{
	color:#CA6666;
}

.lang{
	right:50px;
}

.logoImg{
	top:50%;
	left:50px;
	transform: translate(0, -50%);
	position:absolute;
	background-image:url(../media/VectorLogo.png);
	background-size:contain;
	background-repeat:no-repeat;
	height:70%;
	width:200px;
}

.bigMenu{
	right:35px;
	top:50%;
	transform: translate(0, -50%);
	position:absolute;
}

.sectionsMenuItem{
	display:inline;}
.sectionsMenuItem a{
	text-decoration: none;
	color:white;
	padding: 15px;
	border: solid 2px white;
}
.sectionsMenuItem a:hover,.sectionsMenuItem a:active{
	color:#CA6666;
	border: solid 2px #CA6666;
}
.sectionsMenuItem:hover,.sectionsMenuItem:active{
	cursor:pointer;
}

h1{
	text-align:center;
	text-decoration: none;
	font-size:54px;
	text-shadow:1px 1px 5px rgba(0,0,0,.15),-1px 1px 5px rgba(0,0,0,.15),1px -1px 5px rgba(0,0,0,.15),-1px -1px 5px rgba(0,0,0,.15);
}
.pseudoH1{
	font-size: 36px;
}
.landingTextCenter{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
.txtSlider {
	text-align: center;
}
h2{
	padding-top: calc(10% + 20px);
	margin-bottom:50px;
	font-size:54px;
}
.sectionIcon{
	font-size: 54px;
	padding:20px;
}
.fa-times{
	font-size: 24px;
}
form{
	color:#424242;
}
input, textarea{
	width:80%;
	height:50px;
	font-size: 24px;
	margin-bottom: 10px;
}
.blob{
	width:33%;
	display:inline;
	float:left;
	color:#CA6666;
	text-align: center;
	position: relative;
	top:50%;
	transition:.5s;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blob:hover{
	padding-top: 35px;
	padding-bottom: 65px;
}
.blob2{
	display: none;
}

.blob h3:hover, .blob i:hover, .blobTxt i:hover{
	cursor: pointer;
}

.blobTxt{
	width: calc(66% - 100px);
	height: 80%;
	top:50%;
	transform:translate(0,-50%);
	position:absolute;
	right:-100%;
	color:#CA6666;
	border-left: 2px solid #CA6666;
	padding-left: 20px;
	transition:.5s;
	opacity: 0;
}

.blobTxt2{
	display: none;
}

.servicesContainer{
	max-height:246px;
	min-height: 246px;
	position:absolute;
	background:#eaeaea;
	width:calc(100% - 100px);
	left:0;
	top:calc(50% + 50px);
	transform:translate(0,-50%);
	padding-left: 50px;
	padding-right: 50px;
	overflow: hidden;
}
.servicesContainer2{
	display: none;
}

#about{
	overflow: hidden;
}
.aboutParallax{
	background-image:url(../media/vejle.jpg);
	background-size: cover;
	background-position: center center;
	height: 100%;
	width:120%;
	position:absolute;
	z-index: 1;
	opacity:0.5;
	-webkit-filter: saturate(0%);
	filter: saturate(0%);
}
.z2{
	z-index:2;position: inherit;
}
.eventLink{text-decoration: underline;}
.eventLink:hover{cursor: pointer;color:#CA6666;}

#ref{
	background-color: #eaeaea;
	color:#424242;
}

#contact{
	background-color: #28343c;
}

#serv{
	background:#28343c;
}
article{display: inline-block;margin-bottom: 50px;}
article h3{margin-bottom: 30px;color:#CA6666;}
article p{
	display: inline;
}
article img{
	float: left;
	margin-right:100px;
}
.rightGuy{
	float: right;
	margin-right: 0;
	margin-left: 100px;
}
.contact1{width: 50%;float: left}

.contact2 a,.contact2 a:visited{
	color:white;
}
.contact2 a:hover,.contact2 a:active{
	color:#CA6666;
}

.contact2{width: 50%;float: left;;font-size: 24px}
.burger, .smallMenu{
	display:none;
}
li{
	list-style: none;
}
.rslides_tabs a{
	color:white;
	text-decoration: none;
	font-family: websleekHeader;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #28343c;
	border-radius: 50%;
	display: inline-block;
	height: 28px;
	width: 30px;
	padding-top: 2px;
}
.rslides_tabs a:hover{
	background-color:#CA6666 !important; 
}

.rslides_tabs li{
	display:inline;
}
.rslides_tabs{
	position: relative;
	margin-top: 20px;
	color:white;
	text-align: center;
}
.rslides_here a{
	background-color:#CA6666 !important; 
}
.refBoxes{
	width:calc(100% / 4 - 24px);
	height:225px;
	display:inline-block;
	margin-right:20px;
	position: relative;
}
.refBoxes:hover{
	cursor:pointer;
}

.refimg{
	height:100%;
	width:100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	z-index: 5; 
	transition:.75s;
}

.comtxt{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 3;
	transition:.75s;
	text-align: center;
}
.usynlig{
	opacity: 0;
}

.com1{
	background-image: url(../media/company1.png);
}
.com2{
	background-image: url(../media/company2.png);
}
.com3{
	background-image: url(../media/company3.png);
}

.p20{
	height:125px;
	width:calc(20% - 20px);
	margin:10px;
	float: left;
	display:inline-block;
	background-image:url(../media/com.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#Arla{background-image:url(../media/comArla.png);}#Jem{background-image:url(../media/comJem.png);}
#Lokal{background-image:url(../media/comLokal.png);}#Gev{background-image:url(../media/comGev.png);}
#Mar{background-image:url(../media/comMar.png);}#Iso{background-image:url(../media/comIso.png);}
#Peu{background-image:url(../media/comPeu.png);}#Ko{background-image:url(../media/comKo.png);}
#Ps{background-image:url(../media/comPs.png);}#Wao{background-image:url(../media/comWao.png);}
#Ene{background-image:url(../media/comEne.png);}#Tre{background-image:url(../media/comTre.png);}
#Tel{background-image:url(../media/comTel.png);}

.p10{
	height:1px;
	width:calc(10% - 20px);
	margin:10px;
	float: left;
	display:inline-block;
}





/********************************************************
*********************************************************
		MEDIA QUERIES 1
*********************************************************
********************************************************/


@media screen and (max-width: 992px){
	.bigMenu{
		display:none;
	}
	h2{
	/*padding-top:calc(15% + 50px);*/
	padding-top: calc(17.5% + 20px);
	margin-bottom:50px;
	font-size:42px;
	}
	h1{font-size: 48px;}
	h1 span{font-size: 32;}
	.burger{
		display:block;
		height:50px;
		width:50px;
		background-image:url(../media/burger.png);
		background-size: contain;
		right:50px;
		top:50%;
		transform: translate(0, -50%);
		position:absolute;
		z-index: 30;
	}
	.smallMenu a{
		color: white;
		text-decoration: none;
		border: 0;
	}
	.smallMenu{
		display:block;
		position:fixed;
		height:100%;
		width:100%;
		right:0;
		top:0;
		z-index:20;
		padding-top: 25%;
		background: -moz-linear-gradient(right, rgba(0,0,0,.95), rgba(0,0,0,.8) 50%, rgba(0,0,0,0));
		background: -webkit-linear-gradient(right, rgba(0,0,0,.95), rgba(0,0,0,.8) 50%, rgba(0,0,0,0));
		background: 0-linear-gradient(right, rgba(0,0,0,.95), rgba(0,0,0,.8) 50%, rgba(0,0,0,0));
		background: linear-gradient(right, rgba(0,0,0,.95), rgba(0,0,0,.8) 50%, rgba(0,0,0,0));
		transition:.5s;
	}
	.smallMenu ul{
		width: 110px;
		float: right;
		padding-right:50px;
	}
	.smallMenu ul li{
		display:block;
		margin-bottom: 10px;
		padding: 15px;
		border: solid 2px white;
		text-align: center;
	}

	.sectionsMenuItem a:hover,.sectionsMenuItem a:active{
		border: none;
	}

	.smallMenu ul li:hover,.smallMenu ul li:active{
		border: solid 2px #CA6666;
	}
	.sectionsMenuItem:hover,.sectionsMenuItem:active{
		color: #CA6666;
	}

	.outside{
		right:-100%;

		transition:1s;
	}
	.refBoxes{
	height:200px;
	}
	.contact1,.contact2{width: 50%;float: left;}

}

/********************************************************
*********************************************************
		MEDIA QUERIES 1
*********************************************************
********************************************************/

@media screen and (max-width: 768px){
	.vidBg{
		display:none;
	}
	h2{
	padding-top: calc(22.5% + 50px);
	margin-bottom:25px;
	font-size:36px;
	}
	.pseudoH1{
		font-size: 24px;
	}
	.blob{
		display:none;
	}
	.blob2{
		display:block;
		float: none;
		width: 100%;
	color:#CA6666;
	text-align: center;
	position: relative;
	top:50%;
	transition:.5s;
	padding-bottom: 50px;
	}
	.servicesContainer{
		display: none;
	}
	.servicesContainer2{
		min-height: 246px;
		position:relative;
		background:#eaeaea;
		width:100%;
		left:-50px;
		transform:translate(0,0%);
		padding: 20px 50px 0px 50px;
		overflow-y: scroll;
		overflow-x: hidden;
		display: block;
	}
	.blobTxt{
		displa:none;
	}
	.blobTxt2{
		width: calc(100% - 70px);
		height: 80%;
		top:calc(50% - 50px);
		transform:translate(0,-50%);
		position:absolute;
		right:-100%;
		color:#CA6666;
		border-left: 2px solid #CA6666;
		padding-left: 20px;
		margin-top: 50px;
		margin-bottom: 50px;
		transition:.5s;
		opacity: 0;
		display: block;
		overflow-y: scroll;
	}
	section{
		padding-bottom: 50px;
		width:calc(100% - 50px);
		padding-left: 25px;
		padding-right: 25px;
	}
	.refBoxes{
	width:calc(100% / 2 - 13px);
	margin-bottom: 10px;
	margin-right: 10px;
	}
	.rslides_tabs{
		margin-top:0;
	}
	.refBoxes{
	height:150px;
	}

	.contact1,.contact2{width: 100%;float:left;padding-bottom: 25px;}
}







